/* #ffc800 couleur jaune*/

body {
  font-family: sans-serif;
  margin: 20px;
  position: relative;
  background-color: #e5eee7fa;
}

.marge-section {
  margin-top: 70px;
}

.titre-section {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
  color: rgb(41 37 36);
}

.description-section {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.9;
  text-align: center;
  color: rgb(87 83 78);
}

/*
header{
  box-shadow: 0 0 5px black;
  border: 0 solid white;
}
*/

.bloc-page {
  width: 1280px;
  margin: auto;
}

#navbar{
  background-color: white;
  border-radius: 8px 8px 0 0;
}

#header-content {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 5px;
}

nav {
  width: 50%;
   vertical-align: middle;
}

#logo-nom-slogan {
  width: 50%;
  vertical-align: middle;
}

#logo-nom-slogan a {
  display: flex;
}

#nom-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

#nom {
  font-weight: bold;
  font-size: 20px;
}

#slogan {
  color: #158840;
  font-size: 15px;
  opacity: 0.7;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  opacity: 0.7;
}

nav a i {
  margin-right: 5px;
  font-size: 15px;
}

nav a:hover {
  background-color: #c5f1d6;
  color: #158840;
  border-radius: 10px;
}

/* section bannière */

#banner {
  height: 100vh;
  /* pleine hauteur de l'écran */
  background: url("./images/soleil-banner.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  width: 100%;
  position: relative;
}

.ombre {
  height: 100vh;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  z-index: 4;
  width: 100%;
}

#banner-content h1 {
  font-size: 4em;
}

.text-color-yellow {
  color: #ffc800;
}

#banner-content p {
  font-size: 1.5em;
  opacity: 0.9;
}

.btn-style {
  padding: 10px 20px;
  border-radius: 10px;
  border: 0 solid white;
  opacity: 0.8;
  font-weight: 700;
  font-size: 20px;
}

.btn-discover-product {
  background-color: #ffc800;

}

.btn-histoire {
  color: black;
  background-color: white;
}

.btn-histoire:hover {
  text-decoration: black;
}

.btn-discover-product:hover {
  color: white;
}

.btn-discover-product i {
  margin-left: 15px;
}

/* section pourquoi nous */

.section-style,
.card-style {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.cards-bloc {
  display: flex;
  justify-content: space-between;
}

.cards-bloc p {
  text-align: center;
  opacity: 0.6;
}

.card-pourquoi-nous {
  width: 300px;
  height: 200px;
  border: 1px solid white;
  margin: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);

}

#nos-specialites img {
  width: 265px;
  height: 192px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}


.card-temoignage {
  margin: 20px;
  padding: 20px;
}
.card-nos-specialites{
  height: 248px;
  background-color: white;
  margin-right: 20px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);
}

.card-nos-specialites h4 {
  opacity: 0.7;
  text-align: start;
}

.btn-voir-produit {
  background-color: #158840;
  margin-top: 50px;
}

.temoignage p{
  font-size: 30px;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  opacity: 0.7;
  font-style: normal;
  text-align: center;
}

.temoignage img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

/* styles footer*/

footer, .infos-ferme{
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 37, 36);
  color: white;
}

footer p{
  color: rgb(168 162 158);
}

.infos-bloc{
  width: 425px;
  padding: 20px;
  margin: 20px;
}

.infos-footer{
  display: flex;
  justify-content: space-between;
}

.infos-footer h3 {
  font-size: 16px;
}

.infos-ferme-titre-image{
  display: flex;
}

.infos-ferme-titre-image img{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  vertical-align: center;
  margin-top: 7px;
}

.infos-ferme-titre-image h2{
  font-size: 18px;
  margin-left: 20px;
}

footer i{
  padding: 5px;
}

footer hr{
  height: 0.5px;
  width: 1200px;
  opacity: 0.1;
}

.copyright p{
  text-align: center;
  font-size: 14px;
}